body {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#parent-container {
  border: 1px solid green;
  padding: 5px 50px 50px 50px;
  background-color: red;
}
#pixel-btn,
#color-picker {
  margin: 5px;
  border-radius: 5px;
}
 label {
  color: white;
}
#grid-container {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #333;
  width: 500px; 
  height: 500px;
  
}
.grid-square {
  background-color: white;
  border: 0.5px solid #eee;
  flex: 0 0 calc( 100% / var(--p));
  box-sizing: border-box;
  aspect-ratio: 1 / 1;
}

.grid-square:hover {
  background-color: #555;
}
.grid-square:focus {
  background-color: #e80909;
}