body {
  height: 100vh;
  text-align: center;
  /* display: flex; */
  /*flex-direction: column;
  align-items: center;
  justify-content: center; */
}
.intro h1,
.intro h2 {
  margin: 0;   
}
#parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: 1px solid red;
  padding-bottom: 40px; 
  margin-left: 130px;
  margin-right: 130px;
  margin-bottom: 0;
  background-color: red; 
}
#pixel-btn,
#color-picker {
  margin: 5px;
  border-radius: 5px;
}
input[type="text"] {
  width: 60px;
}
 label {
  color: white;
}
#grid-container {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #333;
  width: 500px; 
  height: 500px;
  
}
.grid-square {
  background-color: white;
  border: 0.5px solid #eee;
  flex: 0 0 calc( 100% / var(--p));
  box-sizing: border-box;
  aspect-ratio: 1 / 1;
}

.grid-square:hover {
  background-color: #555;
}
